<section class="container form-container">
  <h1>Login</h1>
<form
  [formGroup]="loginForm"
  class="form-container"
  (ngSubmit)="onLoginSubmit()"
>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-input"
      id="email"
      formControlName="email"
      autocomplete="off"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-input"
      id="password"
      formControlName="password"
      autocomplete="off"
    />
  </div>
  <!-- <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      class="form-input"
      id="confirmPassword"
      formControlName="confirmPassword"
      autocomplete="off"
    />
  </div> -->
  <button [disabled]="loginForm.invalid" class="btn" type="submit">
    Login
  </button>
</form>
</section>

