<!-- <form (ngSubmit)="onFormSubmit(expenseForm)" #expenseForm="ngForm"> -->
<form #expenseForm="ngForm" (ngSubmit)="onFormSubmit()">
  <div
    class="basic-data"
    ngModelGroup="basicDataGroup"
    #basicDataGroup="ngModelGroup"
  >
    <div class="form-group">
      <label for="expense-title">Title</label>
      <input
        autocomplete="off"
        type="text"
        class="form-input"
        id="expense-title"
        name="expenseTitle"
        ngModel
        #expenseTitle="ngModel"
        required
      />
    </div>
    <p class="help-block" *ngIf="!expenseTitle.valid && expenseTitle.touched">
      This field is required!
    </p>
    <div class="form-group">
      <label for="expense-amount">Amount</label>
      <input
        autocomplete="off"
        type="text"
        class="form-input"
        id="expense-amount"
        name="expenseAmount"
        ngModel
        required
        #expenseAmount="ngModel"
      />
    </div>
    <p class="help-block" *ngIf="!expenseAmount.valid && expenseAmount.touched">
      An amount is required!
    </p>
    <div class="form-group">
      <label for="expense-date">Date</label>
      <input
        autocomplete="off"
        type="date"
        class="form-input"
        id="expense-date"
        name="expenseDate"
        ngModel
      />
    </div>
    <p
      class="help-block"
      *ngIf="!basicDataGroup.valid && basicDataGroup.touched"
    >
      Basic data is required!
    </p>
  </div>
  <div class="form-group">
    <label for="expense-priority">Expense Priority</label>
    <select
      name="expensePriority"
      id="expense-priority"
      class="form-input"
      ngModel
    >
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>
  <div class="form-group">
    <label for="expense-comment">Comment</label>
    <textarea
      class="form-input"
      name="expenseComment"
      id="expense-comment"
      cols="30"
      rows="3"
      [maxLength]="maximumCommentSize"
      [(ngModel)]="expenseCommentValue"
    ></textarea>
    <!-- (input)="onInput($event)" -->
    <p class="comment-length">
      {{ expenseCommentValue.length }}/{{ maximumCommentSize }}
    </p>
  </div>
  <div class="form-group">
    <div class="radio" *ngFor="let type of paymentType">
      <input
        type="radio"
        name="expenseType"
        [id]="type"
        [value]="type"
        ngModel
      />
      <label [for]="type">{{ type }}</label>
    </div>
  </div>
  <button class="btn" [disabled]="!expenseForm.valid" type="submit">
    Submit
  </button>
</form>
