<header class="header">
  <div class="header__brand">Angular Forms</div>
  <nav class="header__nav">
    <!-- Point #7 -->
    <!-- Point #8 -->
    <div
      class="header__nav-item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </div>
    <!-- [routerLinkActiveOptions]="{ exact: true }" -->
    <!-- This tells the routerLink to only apply the class if the route is EXACTLY localhost:4200 -->
    <div
      class="header__nav-item"
      routerLink="/reactive"
      routerLinkActive="active"
    >
      Reactive
    </div>
    <div
      class="header__nav-item"
      routerLink="/template"
      routerLinkActive="active"
    >
      Template
    </div>
  </nav>
</header>
