<header class="header">
  <div class="header__brand">Standalone Angular</div>
  <nav class="header__nav">
    <div
      class="header__nav-item"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </div>
    <ng-container *ngIf="!currentUser">
      <div
        class="header__nav-item"
        routerLink="/auth/login"
        routerLinkActive="active"
      >
        Login
      </div>
      <div
        class="header__nav-item"
        routerLink="/auth/register"
        routerLinkActive="active"
      >
        Register
      </div>
    </ng-container>
    <ng-container *ngIf="currentUser">
      <div class="header__nav-item" (click)="onUserLogout()">Logout</div>
    </ng-container>
  </nav>
</header>
