.reviews__container {
  display: flex;

  div {
    width: 50%;
  }
}

.item__stats {
  font-weight: 600;
  background-color: #ffdb15;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
