/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Passion One", sans-serif;
}

body {
  background-color: #52528c;
  margin: 0;
  font-size: 1.5rem;
}

main {
  padding: 50px;
}

header {
  margin-bottom: 20px;

  h1 {
    width: fit-content;
    background-color: #199800;
    color: #f5f1e3;
    box-shadow: 4px 4px 0px #000000;
    border: 3px solid #000000;
    border-top: none;
    font-size: 50px;
    font-weight: 300;
    padding: 20px;
    padding-top: 30px;
    margin: 0;
    margin-left: 40px;
    position: relative;
    top: -10px;
  }
}

.container {
  background-color: #e6ecde;
  //   border-radius: 4px;
  //   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 4px 4px 0px #000000;
  border: 3px solid #000000;
  color: #090c08;
  margin: 15px;
  padding: 30px;

  h1 {
    margin: 0;
  }
}

.btn {
  padding: 0.5rem;
  width: 100px;
  font-family: "Passion One";
  box-shadow: 3px 3px 0px #000000;
  border: 1.5px solid #000000;
  margin: 5px;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    transition: 0.15s;
    opacity: 0.7;
  }
}

.status {
  padding: 2px 5px;
  border: 2px dashed #050505;
  min-width: 100px;
  text-align: center;
}

.pending {
  background-color: #0984e3;
  color: #f5f1e3;

  // padding: 3px;
}

.cancelled {
  background-color: #f3374a;
  color: #f5f1e3;
}

.complete {
  background-color: #199800;
  color: #f5f1e3;
}
