<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Employee Ethics </mat-panel-title>
      <mat-panel-description
        >Incidunt minus, inventore, veniam tenetur quis iste ducimus quos optio
        cumque distinctio facere ex esse aliquid cum deserunt neque, maiores
        molestias laudantium.
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Products</mat-panel-title>
      <mat-panel-description>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, alias.
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>

<div class="tabs-container">
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Tab 1">
      <h2>Title 1</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
        tempore et ad modi sit corporis.
      </p>
    </mat-tab>
    <mat-tab label="Tab 2">
      <h2>Title 2</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis vitae
        pariatur illum id quisquam fugiat exercitationem ratione incidunt
        quaerat consequatur!
      </p>
    </mat-tab>
    <mat-tab label="Tab 3">
      <h2>Title 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        reprehenderit.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
