<mat-card>
  <form [formGroup]="favoritesForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="ex. John Doe"
        formControlName="fullName"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let thing of favoriteThings"
          (removed)="remove(thing)"
        >
          {{ thing }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
      <input
        type="text"
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button type="submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
