<header>
  <div class="header__logo">
    <h1>Movie App / Routing</h1>
    <h2>
      Page Likes: <span>{{ totalLikes }}</span>
    </h2>
  </div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li><a routerLink="/movies" routerLinkActive="active"> Movies </a></li>
      <li>
        <a routerLink="/add-movie" routerLinkActive="active"> Add Movie </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"> About </a>
      </li>
    </ul>
  </nav>
</header>
