<header class="header">
  <div class="header__brand">Standalone Angular</div>
  <nav class="header__nav">
    <ng-container *ngIf="currentUser">
      <div
        class="header__nav-item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </div>
      <div class="header__nav-item" (click)="onLogout()">Logout</div>
    </ng-container>
    <ng-container *ngIf="!currentUser">
      <div
        class="header__nav-item"
        routerLink="/auth/login"
        routerLinkActive="active"
      >
        Login
      </div>
      <div
        class="header__nav-item"
        routerLink="/auth/register"
        routerLinkActive="active"
      >
        Register
      </div>
    </ng-container>
  </nav>
</header>
