<section *ngIf="selectedMovie" class="container">
  <div class="details__heading">
    <h2>{{ selectedMovie.title }}</h2>
    <span class="item__stats">{{ selectedMovie.rating }}/10</span>
  </div>
  <div>
    <div>
      <h3>Movie Details</h3>
      <div class="movie__details">
        <p>Year: {{ selectedMovie.year }}</p>
        <p>Director: {{ selectedMovie.director }}</p>
        <p>Genres: {{ selectedMovie.genres }}</p>
      </div>
    </div>

    <div class="movie__review">
      <h3>Review</h3>
      <p>
        {{ selectedMovie.text }}
      </p>
      <div class="details__footer">
        <p>
          <em> by {{ selectedMovie.author }} </em>
        </p>
        <div class="buttons__container">
          <button type="button" (click)="onMovieEdit()" class="like__btn">
            <strong>Edit Movie</strong>
          </button>
          <button (click)="onMovieDelete()" class="like__btn">❌</button>
        </div>
      </div>
    </div>
  </div>
</section>
