.header {
    display: flex;
    align-items: center;
    // .header__nav {
    // same as &__nav
    // }
    &__nav {
        display: flex;

        &-item {
            margin-left: 1rem;
            font-size: 24px;
            cursor: pointer;
        }
    }

    &__brand {
        font-size: 36px;
    }
}