<header>
  <div class="header__logo">
    <h1>Movie App / Routing</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <ng-container *ngIf="loggedInUser">
        <li><a routerLink="/movies" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> Movies </a></li>
        <li>
          <a routerLink="/movies/add-movie" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> Add Movie </a>
        </li>
        <li>
          <a routerLink="/about" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> About </a>
        </li>
        <li>
          <a (click)="onLogout()">Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!loggedInUser">
        <li>
          <a routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/auth/register" routerLinkActive="active">Register</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
