header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;

  .header__title {
    display: flex;
    align-items: center;
    h1 {
      margin-right: 20px;
    }
  }
}

nav {
  ul {
    list-style: none;
    display: flex;

    li {
      margin: 15px;
      font-size: 20px;
      text-decoration: none;

      a {
        text-decoration: none;
        padding: 5px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }

      .active {
        background-color: #ffdb15;
        padding: 5px;
        border-radius: 4px;
        color: #2d3436;
      }
    }
  }
}
