<mat-toolbar class="header" color="primary">
  <span
    [matBadge]="products.length"
    matBadgeColor="warn"
    [matBadgeHidden]="products.length <= 0"
    class="header__brand"
    >Angular Material
  </span>
  <nav class="navigation__list">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let nav of navigationListItems"
        [routerLink]="nav"
        routerLinkActive="active"
      >
        {{ nav | titlecase }}
      </mat-list-item>
    </mat-nav-list>
  </nav>
</mat-toolbar>
