<section>
  <h2>Posts</h2>
  <form
    class="form-container"
    (ngSubmit)="onFormSubmit()"
    [formGroup]="postForm"
  >
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea id="body" rows="5" formControlName="body"></textarea>
    </div>
    <button type="submit" [disabled]="postForm.invalid">
      {{ isEdit ? "UPDATE" : "ADD" }}
    </button>
  </form>
  <div class="posts-container">
    <div class="post" *ngFor="let post of posts$ | async">
      <h4>{{ post.title }}</h4>
      <p>{{ post.body }}</p>
      <button (click)="onPostEdit(post)">Edit</button>
    </div>
  </div>
</section>
